/*font*/
@font-face {
	font-family: 'Share Tech Mono';
	src: url('./share_tech_mono.woff2') format('woff2');
	font-display: swap;
}

/* theme colours */
:root {
	--dark: #292929;
	--darker: #171717;
	--lessdark: #383838;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	background-color: var(--darker);
	font-family: 'Share Tech Mono';
	font-weight: 400;
	font-size: 17px;
	color: white;
	padding-left: 10px;
}

/* ua defaults for consistency */
button {
	box-sizing: border-box;
	margin: 0em;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 5;
	background: repeating-linear-gradient(0deg, rgba(255, 222, 159, 0.025) 0, rgba(255, 222, 159, 0.025) 1px, transparent 1px, transparent 4px);
	mix-blend-mode: screen;
}

/*everything else*/
a {
	font-family: 'Share Tech Mono';
	color: #ccc;
	text-decoration: none;
}

a:hover {
	background-color: var(--lessdark);
	text-decoration: underline;
}

*:focus {
	outline: 1px solid var(--bright);
	outline-offset: 4px;
}

*, *::before, *::after {
	box-sizing: border-box;
}